---
import Layout from '../layouts/Layout.astro';
import CardProfile from '../components/CardProfile.astro';
import ListOfCard from '../components/ListOfCard.astro';
---

<Layout title="Time Tracking Dashboard">
	<main>
    <CardProfile />
		<ListOfCard />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

  @media screen and (min-width: 1024px) {
    main {
      max-width: 85%;
      min-height: 100vh;
      display: grid;
      grid-template-columns: 300px 1fr;
      place-content: center;
    }
  }
</style>
