---
import imageJeremy from '/images/image-jeremy.png'
---

<div class="card profile-card">
  <section class="profile-info">
    <img src={imageJeremy} alt="Jeremy" width="60" height="60"/>
    <div>
      <p>Report for</p>
      <h1>Jeremy Robson</h1>
    </div>
  </section>
  
  <section class="time-period">
      <input type="radio" name="period-time" id="daily">
      <label for="daily">Daily</label>
      <input type="radio" name="period-time" id="weekly">
      <label for="weekly">Weekly</label>
      <input type="radio" name="period-time" id="monthly">
      <label for="monthly">Monthly</label>    
  </section>
</div>

<style>
  .profile-card {
    padding: 0;
  }
  
  .profile-info {
    padding: 3.2rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--blue);
    border-radius: 1.6rem;
  }

  h1 {
    margin: 0;
    color: #fff;
    font-weight: 300;
  }

  p {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
    color: var(--pale-blue);
  }

  img {
    border: .35rem solid #fff;
    border-radius: 50px;  
  }

  .time-period {
    padding: 2.5rem 2.4rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
  }

  input[type="radio"] {
    display: none;
  }

  label:hover {
    cursor: pointer;
    color: #fff;
  }
</style>